.name{
    position: absolute;
    left: 0;
    padding-left: 15px;
    margin: 0
}

.navbar{
    z-index: 100;
}

#demo1{
    background-color: rgb(179, 255, 0);
    width: 100%;
    height: 30px;
}
.cdata {
    font-size: 1.0rem; 
}
.carousel-item{
    text-align: center;
}
.user {
    position: absolute;
    right: 15px;
    top: 50%; 
    transform: translateY(-50%);
  }