.name{
    position: absolute;
    left: 0;
    padding-left: 15px;
    margin: 0
}

.navbar{
    z-index: 100;
    background-color: rgba(180, 250, 76, 0.384);
}
#navbar1 form{
    margin-left: 90px;
}

#demo1{
    background-color: rgb(179, 255, 0);
    width: 100%;
    height: 30px;
}
.cdata {
    font-size: 1.0rem; 
}
.carousel-item{
    text-align: center;
}
.user {
    position: absolute;
    right: 15px;
    top: 50%; 
    transform: translateY(-50%);
  }

.booka{
    text-decoration: none;
}

.user a{
    color: black;
}
.user a:hover{
    color: greenyellow;
}

@media (max-width:700px) {
    #navb form {
        flex-direction:column ;
    }
    .row{
        display: grid;
        grid-template-columns: auto auto;
    }
    #demo img{
        height: 200px;
    }
}
