<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bookmart_login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <style>
        .btnn a:hover{
            color: black;
        }
        .btnn:hover{
            color:  #6562e7;
        }
    </style>
</head>
<body>
    <div class="form">
        <form action="" method="post">
            {% csrf_token %}
        <h2>Login</h2>
        <input type="text" name="uname" placeholder="Enter Email Here">
        <input type="password" name="password" placeholder="Enter Password Here">
        <button class="btnn">Login</button>

        <p class="link">Don't have an account<br>
        <a href="register">Sign up </a> here</a></p>
    </form>
    </div>
        </div>
    </div>
</div>
</div>
</body>
</html>