<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bookmart_login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <style>
        .btnn a:hover{
            color: black;
        }
        .btnn:hover{
            color:  #6562e7;
        }

    </style>
</head>
<body>
    <div class="form" style=" height: 450px;">
        <h2>Register</h2>
        <input type="name" name="name" placeholder="Enter name here">
        <input type="email" name="email" placeholder="Enter Email Here">
        <input type="password" name="password" placeholder="Enter Password Here">
        <input type="password" name="repassword" placeholder="ReEnter Password Here">
        <button class="btnn"><a href="home">continue</a></button>
    </div>
        </div>
    </div>
</div>
</div>
</body>
</html>