<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bookmart_RegistrationOTP</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <style>
        .btnn a:hover{
            color: black;
        }
        .btnn:hover{
            color:  #6562e7;
        }
    </style>
</head>
<body>
    <div class="form" style=" height: 450px;">
        <h2>Verify OTP</h2>
        <input type="number" name="otp" placeholder="enter OTP">
        <button class="btnn"><a href="login">Register</a></button>
    </div>
        </div>
    </div>
</div>
</div>
</body>
</html>