<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my orders</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm " id="navb">
        <div class="container-fluid">
          <a class="navbar-brand" href="home">BookMART</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav me-auto">
              <li class="nav-item" id="dropdown">
                <a href="sell" class="nav-link">Sell Your Book
                </a>
              </li> 
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Books</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="dramabk">Drama</a></li>
                  <li><a class="dropdown-item" href="fantacybk">Fantacy</a></li>
                  <li><a class="dropdown-item" href="lovebk">Love</a></li>
                  <li><a class="dropdown-item" href="scifibk">Sci-Fi</a></li>
                  <li><a class="dropdown-item" href="othersbk">Others</a></li>
                </ul>
              </li> 
              <li class="nav-item" id="dropdown">
                <a href="usedbk" class="nav-link" id="dropbtn"> Used Books
                </a>
              </li>  
              <li class="nav-item">
                <a href="viewfav" class="nav-link" id="dropbtn"> Favorites
                </a>
              </li> 
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="text" placeholder="Search">
              <button class="btn btn-primary"><a href="" style="color: rgb(255, 255, 255); margin-top: 8px;"><i class="fa-solid fa-search"></i></a></button>
              <ul class="navbar-nav me-auto">
                <li class="nav-item">
                  <a class="nav-link" href="login"><i class="fa-solid fa-user" style="margin-left: 20px;"></i></a>
                </li>
                <li class="nav-item" >
                  <a class="nav-link" href="viewcart"><i class="fa-solid fa-cart-shopping" style="margin-left: 20px;"></i></a>
                </li>
              </ul>
            </form>
        </div>  
        </div>
      </nav>

      <div class="container">
        {% for i in data %}
        <div class="row" style="margin-top: 30px;">
            <div class="col-lg-6">
                <img src="{{i.product.img.url}}" alt="" style="width: 100%; height: 300px;object-fit: contain;">
            </div>
            <div class="col-lg-6">
                <h2>{{i.product.name}}</h2>
                <s><h6>₹{{i.product.price}}</h6></s>
                <h3>₹{{i.product.ofr_price}}</h3>
                <p>{{i.product.dis}}</p>
              <a href="cancel_oder/{{i.pk}}" class="btn btn-danger" style="margin-left: 30px; margin-top: 20px;">Cancel</a>
              <a href="view_details/{{i.pk}}" class="btn btn-success" style="margin-left: 30px; margin-top: 20px;">View Details</a>
            </div>
        </div>

        {% endfor %}
</div>
</body>
</html>